body {
  background: url("/src/assets/imgs/clouds.png");
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  background: #6e696960;
  box-shadow: 6px 6px 12px #00000080;
  backdrop-filter: blur(10px);
}

.logo {
  width: 90px;
  margin: 1rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 45%;
  height: auto;
  padding-bottom: 1rem;
  background: #fafafa65;
  border: 2px solid #ffffff70;
  backdrop-filter: blur(6px);
  border-radius: 22px;
  box-shadow: 5px 5px 10px #0000008f;
}

.location-input {
  display: flex;
  align-items: center;
  margin: 1.35rem 0 0 1rem;
}

.search-input {
  width: 100%;
  display: flex;
}

label {
  display: flex;
  gap: 0.35rem;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}

#locationSearch {
  width: 75%;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #0a0a0a;
  background: #e0dbe0;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease-in;
}

#locationSearch::placeholder {
  font-weight: 600;
}

#locationSearch:focus {
  border: 2px solid #3091ff;
  outline: none;
}

#searchBtn {
  width: 40px;
  height: 40px;
  margin-left: 0.5rem;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  background: #e0dbe0;
  border: 1px solid #0a0a0a;
  transition: all 0.3s ease;
}

#searchBtn:hover {
  transform: scale(1.05);
  filter: brightness(1.25);
  box-shadow: 2px 2px 10px #00000088;
}

#searchBtn:active {
  opacity: 0.6;
}

.city-name,
.weather-info,
.other-infos {
  display: none;
}

.city-name {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: #fafafa;
  gap: 1rem;
}

.weather-info {
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    #72b4ff 0%,
    #5193df 25%,
    #346fb3 50%,
    #235b9b 75%,
    #15467e 100%
  );
  width: 95%;
  margin: 1rem 0 0 1rem;
  border-radius: 18px;
  box-shadow: 6px 6px 12px #0000008f;
}

.weather-img {
  width: 50%;
  height: 250px;
}

.weather-text {
  display: flex;
  flex-direction: column;
  color: #fafafa;
  align-items: center;
  gap: 0.5rem;
}

.weather-text > p {
  font-weight: 700;
  font-size: 18px;
}

.weather-info > h2 {
  font-size: 32px;
  color: #fafafa;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 2px solid #fafafa;
  border-top: 2px solid #0a53a7;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

.other-infos {
  flex-direction: column;
  height: 100%;
  padding-top: 1rem;
}

.info-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.info-container {
  background: #fff7f7;
  display: flex;
  align-items: center;
  width: 40%;
  height: 75px;
  border-radius: 22px;
  border: 2px solid #00000081;
  box-shadow: 5px 5px 10px #00000065;
  margin-bottom: 1.5rem;
}

.other-info-img {
  width: 70px;
  height: 70px;
}

.other-info-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.other-info-txt > h3 {
  font-size: 15px;
}

.other-info-txt > p {
  font-size: 15px;
  font-weight: 700;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 280px) and (max-width: 420px) {
  .weather-container {
    width: 95%;
  }

  .search-input {
    justify-content: center;
  }

  .location-input {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0 0 0;
  }

  #locationSearch {
    width: 75%;
  }

  .weather-info {
    width: 90%;
  }

  .weather-img {
    width: 50%;
    height: 200px;
  }

  .city-name > h1 {
    font-size: 28px;
  }

  .weather-text > h2 {
    font-size: 20px;
  }

  .weather-text > p {
    font-size: 16px;
  }

  .other-info-txt > h3 {
    font-size: 11px;
  }

  .other-info-txt > p {
    font-size: 11px;
  }

  .info-container {
    width: 48%;
  }
}

@media (min-width: 280px) and (max-width: 340px) {
  .info-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.65rem;
  }

  .weather-container {
    height: auto;
    padding-bottom: 1rem;
  }

  .info-container {
    width: 75%;
  }

  .other-info-txt > h3 {
    font-size: 13px;
  }

  .other-info-txt > p {
    font-size: 13px;
  }
}

@media (min-width: 420px) and (max-width: 700px) {
  .weather-info {
    width: 93%;
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .weather-container {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .weather-container {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .weather-container {
    padding-right: 0.75rem;
  }
}

@media (min-width: 1440px) {
  .weather-container {
    width: 35%;
  }
}

@media (min-width: 280px) and (max-width: 768px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
}

@media (min-width: 420px) and (max-width: 540px) {
  .other-info-txt > h3 {
    font-size: 13px;
  }

  .other-info-txt > p {
    font-size: 13px;
  }

  .info-container {
    width: 47%;
  }
}
